<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> -->

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
  <link rel="stylesheet" href="./app.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
  <header>
      <h1 class="titulo">Veterinaria <span>sas</span></h1>
  </header>

  <div class="nav-bg">
      <nav class="navegacion-principal contenedor">


          <a class="navegacion-principal contenedor" routerLink="/lista-especies">Especies</a>
          <a class="navegacion-principal contenedor" routerLink="/lista-razas">Razas</a>
          <a class="navegacion-principal contenedor" routerLink="/lista-duenos">Dueños</a>
          <a class="navegacion-principal contenedor" routerLink="/lista-pacientes">Pacientes</a>

      </nav>
  </div>

  </body>



















  <!-- <a class="navbar-brand" href="#">Veterinaria</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">


      <li class="nav-item">
        <a class="nav-link" routerLink="/lista-especies">Lista de Especies</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/lista-razas">Lista de Razas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/lista-duenos">Dueños</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/lista-pacientes">Lista Pacientes</a>
      </li>
    </ul>
  </div>
</nav> -->
<router-outlet></router-outlet>
